<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weavemeng.www.springbootquartz.mapper.QuartzJobDTOMapper">
    <resultMap id="BaseResultMap" type="com.weavemeng.www.springbootquartz.dto.QuartzJobDTO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="job_name" property="jobName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="cron_expression" property="cronExpression" jdbcType="VARCHAR"/>
        <result column="expression_desc" property="expressionDesc" jdbcType="VARCHAR"/>
        <result column="bean_class" property="beanClass" jdbcType="VARCHAR"/>
        <result column="job_status" property="jobStatus" jdbcType="VARCHAR"/>
        <result column="job_group" property="jobGroup" jdbcType="VARCHAR"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, job_name, description, cron_expression, expression_desc, bean_class, job_status, job_group, creator,
    create_time, modifier, modify_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from sys_job_quartz
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from sys_job_quartz
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.weavemeng.www.springbootquartz.dto.QuartzJobDTO">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sys_job_quartz (job_name, description, cron_expression,expression_desc,
        bean_class, job_status, job_group,
        creator, create_time, modifier,
        modify_time)
        values (#{jobName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
        #{cronExpression,jdbcType=VARCHAR},#{expressionDesc,jdbcType=VARCHAR}
        #{beanClass,jdbcType=VARCHAR}, #{jobStatus,jdbcType=VARCHAR}, #{jobGroup,jdbcType=VARCHAR},
        #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR},
        #{modifyTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.weavemeng.www.springbootquartz.dto.QuartzJobDTO">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sys_job_quartz
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jobName != null">
                job_name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="cronExpression != null">
                cron_expression,
            </if>
            <if test="expressionDesc!= null">
                expression_desc,
            </if>
            <if test="beanClass != null">
                bean_class,
            </if>
            <if test="jobStatus != null">
                job_status,
            </if>
            <if test="jobGroup != null">
                job_group,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jobName != null">
                #{jobName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="cronExpression != null">
                #{cronExpression,jdbcType=VARCHAR},
            </if>
            <if test="expressionDesc != null">
                #{expressionDesc,jdbcType=VARCHAR},
            </if>
            <if test="beanClass != null">
                #{beanClass,jdbcType=VARCHAR},
            </if>
            <if test="jobStatus != null">
                #{jobStatus,jdbcType=VARCHAR},
            </if>
            <if test="jobGroup != null">
                #{jobGroup,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.weavemeng.www.springbootquartz.dto.QuartzJobDTO">
        update sys_job_quartz
        <set>
            <if test="jobName != null">
                job_name = #{jobName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="cronExpression != null">
                cron_expression = #{cronExpression,jdbcType=VARCHAR},
            </if>
            <if test="expressionDesc != null">
                expression_desc = #{expressionDesc,jdbcType=VARCHAR},
            </if>
            <if test="beanClass != null">
                bean_class = #{beanClass,jdbcType=VARCHAR},
            </if>
            <if test="jobStatus != null">
                job_status = #{jobStatus,jdbcType=VARCHAR},
            </if>
            <if test="jobGroup != null">
                job_group = #{jobGroup,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.weavemeng.www.springbootquartz.dto.QuartzJobDTO">
        update sys_job_quartz
        set job_name = #{jobName,jdbcType=VARCHAR},
            description = #{description,jdbcType=VARCHAR},
            cron_expression = #{cronExpression,jdbcType=VARCHAR},
            expression_desc = #{expressionDesc,jdbcType=VARCHAR},
            bean_class = #{beanClass,jdbcType=VARCHAR},
            job_status = #{jobStatus,jdbcType=VARCHAR},
            job_group = #{jobGroup,jdbcType=VARCHAR},
            creator = #{creator,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            modifier = #{modifier,jdbcType=VARCHAR},
            modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectJob" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_job_quartz
        where job_status =1
    </select>
    <select id="selectJobByGroup" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_job_quartz
        where job_status =1 and job_group = #{group}
    </select>
    <select id="selectByJobName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_job_quartz
        where job_name=#{jobName} and job_group= #{jobGroup}
    </select>
</mapper>